@import 'nib/vendor'

vendor-prefixer = o moz ms webkit
body, html
	height 100%
body 
	margin 0
	overflow hidden
	font-family sans-serif
.container
	display flex
	position relative
	height 100%
	figure
		position absolute
		top 0
		left 0
		width 260px
		margin-left 20px
		img
			width 100%
	.blanco, .naranja
		display flex
		width 50%
		justify-content flex-end
		align-items center 
		position relative
		z-index 100
		overflow hidden
		&:hover
			width 125%		
			transition 0.5s
		&:hover a	.cuadro
			width 80%
		a 
			display contents 
			text-decoration none
			.cuadro
				position relative
				height 45%
				width 70%
				right 0
				border 12px solid #f4633a	
				border-right 0 
				border-left 0
				display flex
				align-items center
				img
					position absolute
					bottom 0
					left 50px
					height 105%
				&::before
					content ''
					height 100%
					width 12px
					position absolute
					background linear-gradient(180deg,#f4633a 34%,rgba(244,99,58,0) 0, 65%,#f4633a 0)
				.info
					position absolute    		
					right -100%
					opacity 0
					h2
						color black
						font-weight 100		
					p
						color #f4633a	
		&:hover a .info 
			right 70px
			transition .5s
			opacity 1
		.colegio	img
			width 150px	
	.naranja
		background-color #f4633a	
		width 50%
		&:hover
			width 125%
			transition 0.5s
		a .cuadro
			position absolute
			border-color white
			left 0
			.info
				left -100vh
				h2,p
					color white
			&::before
				content ''
				height 100%
				width 12px
				position absolute
				right 0px
				background linear-gradient(180deg,white 34%,rgba(244,99,58,0) 0, 65%,white 0)
			img
				right 50px	
				left initial
		&:hover a .info
			left 70px
			transition .5s
		.colegio img
			position absolute
			left 70%	
		&:hover .colegio img
			left 80%	
	.blanco:hover ~ .naranja
		opacity 0.8		
				
.blanco-on
	opacity 0.5	
	transition 0.5s
	
/*Trilce Colegio Inicio*/	
.portada 
	display flex
	justify-content space-between
	position relative
	figure img
		width 190px
	.info
		margin-right 40px
		display flex
		flex-direction column
		justify-content space-between
		align-items flex-end
		.intranet
			background-color #f4633a
			display inline-flex
			align-items center	
			width max-content
			font-size 13px
			img
				padding 10px
			a
				color white
				text-decoration none
				font-weight 100
				border-left 1px solid white
				padding 0 5px
				span
					font-weight bold	
		.menu
			list-style none
			li
				display inline-block
				a
					text-decoration none
					color #53565a
					font-weight 100		
					margin 0 5px	
					&:hover
						color #f4633a
						transition 0.5s
				.sedes
					width 100%
					height 300px
					position absolute
					top 130px
					/*visibility hidden*/
					left 0
					border-top 2px solid black
					border-bottom 1px solid black
					.lima
						width 60%
						display flex
						align-items center
						.titulo
							width 40%
							h1
								width max-content
								margin auto
								color #f4633a
								font-weight 100
								span
									font-weight bold
						.menu
							width 60%
							height 300px
							display flex
							flex-direction column
							flex-wrap wrap
							padding 0
							li
								height 33px
								display flex
								align-items center
								a
									color gray
					.provincia
						width 40%		
				&:first-child:hover .sedes
					top 150px
					visibility visible
					transition .5s
			
@media screen and (max-width 1024px)
	.cuadro img
		display none
@media screen and (max-width 800px)		
	.container.prin
		flex-direction column
		.naranja, .blanco	
			width 100%
			height 100%
			.cuadro
				border none
				&::before
					content ''	
					display none